@import "tailwindcss";

* {
  
  box-sizing: border-box;
}

* {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
*::-webkit-scrollbar {
    display: none; 
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

canvas {
  touch-action: none;
}

.scrim-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}
@theme {
  --color-blue: #2997FF;
  --color-gray: #86868b;
  --color-gray-100: #94928d;
  --color-gray-200: #afafaf;
  --color-gray-300: #42424570;
  --color-zinc: #101010;
}

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-height {
    height: calc(100vh - 60px);
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.25rem; /* px-5 */
    padding-right: 1.25rem;
    padding-top: 0.5rem;   /* py-2 */
    padding-bottom: 0.5rem;
    border-radius: 1.5rem; /* rounded-3xl */
    background-color: #2997FF; /* bg-blue */
    margin-top: 1.25rem;   /* my-5 */
    margin-bottom: 1.25rem;
    border: 1px solid transparent;
    color: inherit;
    transition: background 0.2s, color 0.2s, border 0.2s;
  }
  .btn:hover {
    background-color: transparent;
    border: 1px solid #2997FF;
    color: #2997FF;
  }
  .color-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 9999px;
    background-color: #42424570;
    backdrop-filter: blur(8px);
  }

  .size-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    border-radius: 9999px;
    background-color: #42424570;
    backdrop-filter: blur(8px);
    margin-left: 0.75rem;
    gap: 0.25rem;
  }

  .size-btn {
    width: 2rem;
    height: 2rem;
    margin: .25rem;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border-radius: 9999px;
    transition: all 0.2s;
  }

  .common-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .section-heading {
    color: #86868b;
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
    font-weight: 500;
    opacity: 0;
    transform: translateY(5rem);
  }

  .feature-text {
    color: #86868b;
    max-width: 28rem;
    font-size: 1.125rem;
    font-weight: 600;
    opacity: 0;
    transform: translateY(100px);
  }

  .feature-text-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    gap: 1.25rem;
  }

  .feature-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.5);
    opacity: 0;
  }

  .feature-video-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
  }

  .link {
    color: #2997FF;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    opacity: 0;
    transform: translateY(5rem);
    text-decoration: none;
  }

  .control-btn {
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 9999px;
    background-color: #42424570;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.875rem;
    color: #94928d;
    opacity: 0;
    margin-bottom: 2.5rem;
  }

  .hiw-title {
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
  }

  .hiw-subtitle {
    color: #86868b;
    font-weight: 600;
    font-size: 1.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
  }

  .hiw-video {
    position: absolute;
    width: 95%;
    height: 90%;
    /* border-radius: 56px; */
    overflow: hidden;
  }

  .hiw-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6rem;
  }

  .hiw-text {
    color: #86868b;
    font-size: 1.25rem;
    font-weight: 400;
  }

  .hiw-bigtext {
    color: #fff;
    font-size: 1.875rem;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .video-carousel_container {
    position: relative;
    width: 88vw;
    height: 65vh;
  }

  .g_fadeIn {
    opacity: 0;
    transform: translateY(100px);
  }

  .all {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
